@using WebApplication1.ViewModels.PersonViewModels

@model List<PersonGetVM>
<table class="table">
    <a class="btn btn-success" asp-actio="Create">Create</a>
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">ImageUrl</th>
            <th scope="FullName">Last</th>
            <th scope="Profession">Handle</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var person in Model)
        {
            <tr>
            <th scope="row">@person.Id</th>
            <td><img src="~/img/@person.ImageUrl"/></td>
            <td>@person.FullName</td>
            <td>@person.profession.Name</td>
            <td>
                <a class="btn btn-marning">Update</a>
                <a class="btn btn-danger">Delete</a>
            </td>
            </tr>
            
        }

    </tbody>
</table>